@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Fahkwang';
    src: url('/fonts/Fahkwang-Bold.ttf') format('ttf'),
         url('/fonts/Fahkwang-BoldItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }